$text-color--primary: #2c2738;
$text-color--active: #7c9cbf;
$text-color--gray: #756f86;
$text-color--gray-light: #b6b4bd;
$text-color--error: #ff7171;
$text-color--success: #7cbf98;

$color-active: #0880ae;
$color-active-light: #ebf4f8;

// ---

$button-color--primary: $color-active;
$button-color--primary-hover: lighten($button-color--primary, 3%);
$button-color--primary-active: lighten($button-color--primary, 6%);
$button-color--primary-text: $color-active-light;

// ---

$button-color--link: $color-active;
$button-color--link-hover: lighten($button-color--link, 12%);
$button-color--link-active: darken($button-color--link, 3%);

// ---

$border-radius--default: 6px;
$border-radius--medium: 12px;
$border-radius--large: 24px;

$card-border-radius: $border-radius--large;
$input-border-radius: $border-radius--default;
